/* Tags Page */
.archive-box {
  padding: 30px 15px;
  margin-bottom: 60px;
  text-align: center;
  border: 1px solid $light-gray;
  background-color: $white;
  .archive-title {
    margin: 0;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    span {
      color: $brand-color;
    }
  }
  @media only screen and (max-width: $mobile) {
    margin-bottom: 30px;
    padding: 20px 15px;
  }
}