<!-- begin footer -->
<footer class="footer">
  {% include contact-link.html %}
  <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/"><strong>{{site.title}}</strong></a></div>
  <a href="//www.dmca.com/Protection/Status.aspx?ID=c8724698-5f45-470d-863b-d39936fe5328" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=c8724698-5f45-470d-863b-d39936fe5328"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
</footer>
<!-- end footer -->
