/* Scroll Button Top */
.top {
  position: fixed;
  bottom: 40px;
  right: -100px;
  z-index: 1;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 3px;
  background-color: $white;
  color: $dark;
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
  transition: all .25s ease;
  cursor: pointer;
  &.is-active {
    right: 40px;
  }
  &:hover {
    color: darken($dark, 10%);
  }
}

@media only screen and (max-width: $tablet) {
  .top {
    bottom: 25px;
    &.is-active {
      right: 30px;
    }
  }
}